body {
    background-color: black;
    color: white;
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#lvl-chooser {
    width: 90dvw;
    height: 5dvh;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    align-items: center;
    padding: 0;
}
#lvl-chooser > li {
    flex-grow: 1;
    border: greenyellow 1px solid;
    margin: 1px 10px;
    justify-content: center;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    cursor: pointer;
}
#lvl-chooser > li:hover {
    background-color: rgba(0, 128, 0, 0.5);
    border: green 1px solid;
    transition: background-color 1s, border 1s;
}
.current-lvl, .current-lvl:hover {
    background-color: greenyellow !important;
    border: greenyellow 1px solid !important;
    color: black;
}
#main-maze-collections {
    border: goldenrod 2px solid;
    border-radius: 10px;
    width: 90dvw;
    height: 69dvh;
    padding: 0 2.5dvw;

    overflow-y: scroll;
    text-align: center;
    justify-content: center;
    scrollbar-width: none;
}
#main::-webkit-scrollbar {
    display: none;
}
.maze {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    border: olivedrab 1px solid;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: scale .5s, background-color .5s, border .5s, color .5s;
    text-align: center;
}
.maze:visited {
    background-color: darkgreen;
    border: darkgreen 1px solid;
}
.maze:hover {
    background-color: olivedrab;
    color: black;
    font-weight: bold;
    scale: 1.1;
}
.maze:visited:hover {
    background-color: green;
}
.rating {
    color: gray;
    font-size: small;
}
.maze:hover > .rating {
    opacity: 0;
}
#references {
    width: 90dvw;
    height: 5dvh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: small;
}
.reference {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reference-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
#format-maze {
    scale: .69;
}